.sobreLivro{
  width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px #4571f32b, 0 6px 12px #4571f332;
  background-color: var(--card);
  margin-bottom: 50px;
}

.margemSobreLivro{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.margemSobreLivro label{
  font-weight: bold;
}

.margemSobreLivro p{
  margin: 0 0 10px 0;
}

.botoesSobreLivro{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.botoesSobreLivro button:nth-child(2){
  background-color: var(--erro);
}

.linkBotaoRedirecionar{
  width: 200px;
  height: 40px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primaria);
  cursor: pointer;
}

.linkBotaoRedirecionar:hover{
  filter: brightness(90%);
}

@media screen and (max-width: 550px) {
  .botoesSobreLivro, .sobreLivro{
    width: 100%;
  }
}