.containerOpcoes{
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.opcao{
  width: 20%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  margin: 0 0 25px 2.5%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px #4571f32b, 0 6px 12px #4571f332;
  background-color: var(--card);
}

.opcao:hover{
  filter: brightness(95%);
}

.opcao:nth-child(4n + 1){
  margin-left: 0;
}

.margemOpcao{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.margemOpcao h1{
  color: var(--textos);
  font-weight: bold;
  font-size: 20px;
  color: var(--titulos);
}

.margemOpcao img{
  width: 45%;
  margin: 10px 0;
	filter: brightness(35%)
}

.margemOpcao p{
  color: var(--textos);
  text-align: center;
  border-radius: 10px;
}

@media screen and (max-width: 1300px){
  .opcao, .opcao:nth-child(4n + 1){
    width: 31%;
    margin: 0 0 25px 3%;
  }

  .opcao:nth-child(3n + 1){
    margin-left: 0;
}

}

@media screen and (max-width: 900px) {
  .containerOpcoes{
    justify-content: space-between;
    align-items:initial;
  }
  
  .opcao, .opcao:nth-child(3n + 1){
    width: 48%;
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 500px) {
  .containerOpcoes{
    justify-content: space-between;
  }
  
  .opcao, .opcao:nth-child(3n + 1){
    width: 100%;
  }
}