/*Arquivo específico para paleta de cores e todas estilizações padrões para elementos HTML base, por exemplo: todas tags <button> vermelhas*/
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17.5px;
}

:root{
  --fundo: #fff;
  --inputs: #f1f3f8;
  --bordas: #bcccf7;
  --titulos: #282b32;
  --textos: #81879b;
  --primaria: #4571f3;
  --primariaEscura: #3557bd;
  --card: #f1f3f8;
  --contraste: #dde5fc;
  --sucesso: rgb(4, 212, 132);
  --erro: rgb(241, 63, 63);
  --rodape: #4571f3;
}

.temaClaro:root{
  --fundo: #fff;
  --inputs: #f1f3f8;
  --bordas: #bcccf7;
  --titulos: #282b32;
  --textos: #81879b;
  --primaria: #4571f3;
  --primariaEscura: #3557bd;
  --card: #f1f3f8;
  --contraste: #dde5fc;
  --sucesso: rgb(4, 212, 132);
  --erro: rgb(241, 63, 63);
  --rodape: #4571f3;
}

.temaEscuro:root{
   --fundo: rgb(35, 35, 35);
  --inputs: #373a41;
  --bordas: #8d99bb;
  --titulos: #ffffff;
  --textos: #dcdcdc;
  --primaria: #6386f0;
  --primariaEscura: #193da9;
  --card: #383a42;
  --contraste: #1e2029;
  --sucesso: rgb(4, 212, 132);
  --erro: rgb(241, 63, 63);
  --rodape: #2f3441;
}

.temaEscuro:root img{
  filter: brightness(90%);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--fundo);
}

h1{
  color: var(--titulos);
}

p{
  color: var(--textos);
}

a{
  text-decoration: none;
  color: var(--textos);
}

form{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

form h1{
  font-size: 17.5px;
  color: var(--titulos);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

form label{
  color: var(--textos);
  margin-bottom: 2.5px;
}

label{
  color: var(--titulos);
}

input, select, textarea{
  width: calc(100% - 20px);
  height: 40px;
  background-color: var(--inputs);
  padding-left: 20px;
  border: 1px solid var(--bordas);
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  color: var(--textos);
}

select{
  width: 100%;
}

textarea{
  padding: 10px;
  min-height: 80px;
}

button{
  width: 150px;
  height: 40px;
  background-color: var(--primaria);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  filter: brightness(80%);
}

form button{
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 550px) {
  form{
      width: 100%;
  }
}