<style>
  .rodape{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rodape);
  }

  .margemRodape{
    width: 90%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .margemRodape h1{
    color: #fff;
    margin: 0;
  }

  .margemRodape p{
    color: #e3e2e2;
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
  }
</style>


<footer class="rodape">
  <div class="margemRodape">
    <h1>Sistema para biblioteca</h1>

    <p>
      Sistema desenvolvido para biibliotecas de universidades. Com nosso sistema é possível cadatrar livros e alunos, <br>fazer e devolver empréstimos e acessar informações de tudo que foi cadastrado,<br> em formatos simples ou detalhados, como em rankings de leitores ou lista de livros disponíveis.
    </p>

    <br><br>

    <h1>Desenvolvido por: </h1>

    <p>
      Bruno apis de Souza Godoy, 25003368 <br>
      Fabrício Ferreira Tavares, 25000040 <br>
      Gabriel Biazon Galeazzi, 25002450 <br>
      Gustvo Garcia Benossi, 25007953 <br>
      Matheus Barbosa, 25001218 <br>
    </p>
  </div>
</footer>