
.sobreAluno{
  width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px #4571f32b, 0 6px 12px #4571f332;
  background-color: var(--card);
  margin-bottom: 50px;
  position: relative;
}

.margemSobreAluno{
  width: 90%;
  display: flex;
  margin: 30px 0;
}

.tituloPontuacao{
  top: -25px;
  position: absolute;
  padding: 5px;
  background-color: var(--primaria);
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px #4571f32b, 0 6px 12px #4571f332;
}

.informacoesAluno{
  width: 65%;
}

.pontuacao{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informacoesAluno label{
  font-weight: bold;
}

.informacoesAluno p{
  margin: 0 0 10px 0;
}

.informacoesAluno p:nth-child(8){
  margin: 0;
}

.circuloPontuacao{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.valorPontuacao, .legendaPontuacao{
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  font-family: arial;
}

.legendaPontuacao{
  font-size: 12px;
}

.leitorAtivo{
  border: 5px solid var(--sucesso);
}

.leitorExtremo{
  border: 5px solid var(--sucesso);
  background: linear-gradient(to right bottom, var(--sucesso),  var(--primaria)); 
  animation: flutuar 4s infinite alternate;
}

.leitorRegular::before, .leitorRegular::after,  .leitorAtivo::before, .leitorAtivo::after, .leitorExtremo::before, .leitorExtremo::after{
  content: '';
  display: block;
  position: absolute;
  border: 3px solid var(--primaria);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: 10px;
  border-radius: 50%;
  animation: pulsar 5s infinite ease-in-out;
}

.leitorAtivo::before, .leitorAtivo::after{
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

.leitorExtremo::before, .leitorExtremo::after{
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  animation: pulsar 2s infinite ease-in-out;
}

@keyframes flutuar{
  from{
    transform: translate3d(0, 4px, 0);
  }

  to{
      transform: translate3d(0, -4px, 0);
  }
}

@keyframes pulsar{
  0%{
      transform: scale(0.8);
      opacity: 0;
  }

  50%{
      opacity: 1;
  }

  100%{
      transform: scale(1.1);
      opacity: 0;
  }
  
}

@media screen and (max-width: 550px) {
  .botoesSobreAluno, .sobreAluno{
    width: 100%;
  }
}